@charset "UTF-8";

@media  screen and (max-width: 760px)  {
    header {
        flex-direction: column;
    }

    span#burguer {
        display: block;
    }

    li    {
        flex-direction: column;
    }
    

    main {
        flex-direction: column;
    }

    h2 {
        font-size: 38px;
    }

    form {
        margin: 0 auto;
        width: 100%;
    }

    input {
        align-self: center;
    }

    img {
        display: block;
        width: 450px;
        margin-top: 30px;
    }

    ul {
        text-align: center;
    }
}